<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/view.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/vgv5zuw.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Massimo Albanese</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <meta name="description" content="Software engineer, entrepreneur, digital artist">
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body onload="checkPathAndSwitchTab(); switchWorkFilter('highlight'); start();">
<nav class="navbar navbar-expand-lg bg-dark mx-auto fixed-top" style="display: block; ">
    <div class="container mx-auto"
         style=" padding: 0; background-image: linear-gradient(90deg, #00C6FF, #FF00F6); background-size: 100vw; background-position: center">
        <a href="/" class="d-none d-lg-flex navbar-brand glitch-container brand-centered z-1">
            <span style="font-size: 25px;  font-weight: bold; text-transform: lowercase; font-family: 'The Neue'">Massimo Albanese</span>
        </a>
        <div class="bg-dark d-block d-lg-none position-absolute z-0"
             style="width: 100vw; top: 0; left: 0; height: 40px"></div>
        <a href="/" class="d-flex d-lg-none navbar-brand glitch-container z-1" style="padding-left: 8px">
            <span style="font-weight: bold; text-transform: lowercase; font-family: 'The Neue'">Massimo Albanese</span>
        </a>
        <button id="navbar-toggler" class="navbar-toggler z-1" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li id="nav-home" class="transparent-background nav-item nav-tab text-center " onclick="selectTab('')">
                    <span class="nav-link">Home</span>
                </li>
                <li id="nav-about" class="nav-item nav-tab text-center " onclick="selectTab('about')">
                    <span class="nav-link">About</span>
                </li>
                <li id="nav-work" class="nav-item nav-tab text-center " onclick="selectTab('work')">
                    <span class="nav-link">Work</span>
                </li>
            </ul>
            <div class="bg-dark d-none d-lg-block w-100" style="height: 40px"></div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item text-center">
                    <a href="/resume" target="_blank" class="nav-link">RESUME</a>
                </li>
                <li class="nav-item text-center">
                    <a href="https://github.com/madlitch" target="_blank" class="nav-link">GITHUB</a>
                </li>
                <li class="nav-item text-center">
                    <a href="https://www.linkedin.com/in/massimo-albanese/" target="_blank"
                       class="nav-link">LINKEDIN</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-gradient-bar"></div>
</nav>
<div class="header scroll-snap-container">
    <div class="bg-dark text-center">
        <div id="home" class="tab row g-0 w-100">
            <div class="row g-0 text-center align-items-center">
                <div>
                    <div class="mb-2 index-title d-none d-lg-block">
                        <h1 class="d-inline m-0 p-0" style="font-size: 4rem">hi, i'm </h1>
                        <div class="d-inline-block ">
                            <h1 class="m-0 p-0" style="font-size: 4rem; line-height: 0.8">massimo</h1>
                            <div style="background-image: linear-gradient(90deg, #00C6FF, #FF00F6); height: 2px;"></div>
                        </div>
                        <h1 class="d-inline m-0 p-0">.</h1>
                    </div>
                    <div class="mb-2 index-title d-block d-lg-none">
                        <h1 class="d-inline m-0 p-0">hi, I'm </h1>
                        <div class="d-inline-block ">
                            <h1 class="m-0 p-0" style="line-height: 0.8">massimo</h1>
                            <div style="background-image: linear-gradient(90deg, #00C6FF, #FF00F6); height: 2px;"></div>
                        </div>
                        <h1 class="d-inline m-0 p-0">.</h1>
                    </div>
                    <h6 class="fw-900 grey">I'm a software engineer and digital artist. <br>
                        I founded and lead the development at <a target="_blank" href="https://madpixel.software/">MadPixel
                            Software</a>.
                    </h6>
                    <div class="my-3"></div>
                    <h6 class="fw-900 grey">Get in touch via <a
                            href="mailto:massimo@albane.se">email</a>.
                    </h6>
                </div>
            </div>
            <div class="sentinel"></div>
        </div>
        <div id="about" class="tab row g-0 w-100">
            <div class="list-container align-content-center justify-content-center">
                <div class="container my-5">
                    <div class="row text-center">
                        <div class="col w-100">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-start w-100">
                                    <h2 class="mb-0 text-nowrap cutout-text text-lowercase">Education</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-end w-100 my-2">
                                    <h5 class="m-0 lh-1 fw-900 ">B.Eng. Software Engineering</h5>
                                    <p class="m-0 fw-600 grey text-nowrap">Internet of Things Specialization</p>
                                    <p class="m-0 fw-600 grey text-nowrap">Ontario Tech University, 2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container my-5">
                    <div class="">
                        <div class="">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="container my-5">
                    <div class="row text-center">
                        <div class="col-md w-100">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-start w-100">
                                    <h2 class="mb-0 text-nowrap cutout-text text-lowercase">Awards</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-end w-100 my-2">
                                    <h5 class="m-0 lh-1 fw-900 ">Engineering Capstone Design Competition</h5>
                                    <p class="m-0 fw-600 grey">1st place in Electrical, Computer, and Software
                                        Engineering</p>
                                    <p class="m-0 fw-600 grey">Ontario Tech University</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-end w-100 my-2">
                                    <h5 class="m-0 lh-1 fw-900 ">President's Honours List</h5>
                                    <p class="m-0 fw-600 grey">Winter 2020, Fall 2023</p>
                                    <p class="m-0 fw-600 grey">Ontario Tech University</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-end w-100 my-2">
                                    <h5 class="m-0 lh-1 fw-900">Dean's Honours List</h5>
                                    <p class="m-0 fw-600 grey">Fall 2021, Fall 2022</p>
                                    <p class="m-0 fw-600 grey">Ontario Tech University</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container my-5">
                    <div class="">
                        <div class="">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="container my-5">
                    <div class="row text-center">
                        <div class="col-md">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-start w-100">
                                    <h2 class="mb-0 text-nowrap cutout-text text-lowercase">Technical Skills</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-end w-100 my-2">
                                    <h5 class="m-0 lh-1 fw-900">Programming Languages</h5>
                                    <p class="m-0 fw-600 grey">Python, Rust, JavaScript, HTML, CSS, SQL, Dart, Java, C,
                                        C++</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-end w-100 my-2">
                                    <h5 class="m-0 lh-1 fw-900">Frameworks & Libraries</h5>
                                    <p class="m-0 fw-600 grey">FastAPI, Flask, React, Node.js, Electron, Flutter</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-end w-100 my-2">
                                    <h5 class="m-0 lh-1 fw-900">Tools & Technologies</h5>
                                    <p class="m-0 fw-600 grey">Git, IntelliJ Suite, Docker, PostgreSQL, MySQL, SQLite,
                                        SQLAlchemy, Sequelize, OnShape, Solidworks, AutoCAD, FDM Printing, GCP, AWS,
                                        ChatGPT, FFMpeg, Photoshop, Raspberry Pi, Arduino</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container my-5">
                    <div class="">
                        <div class="">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="container my-5">
                    <div class="row text-center">
                        <div class="col-md w-100">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-start w-100">
                                    <h2 class="mb-0 text-nowrap cutout-text text-lowercase">Other Skills</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-end w-100 my-2">
                                    <h5 class="m-0 lh-1 fw-900 ">Languages</h5>
                                    <p class="m-0 fw-600 grey text-nowrap">English, French, Italian</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sentinel"></div>
        </div>
        <div class="filter-container bg-dark">
            <div class="d-flex align-items-center align-text-bottom justify-content-center">
                <div class="text-center bg-dark lh-1" style="scale: 0.8">
                    <div class="d-inline-block mx-4 filter-button"
                         onclick="switchWorkFilter('all')">
                        <h5 class="m-0 p-0 bg-dark text-lowercase">All</h5>
                        <div class="underline-highlight all"></div>
                    </div>
                    <div class="d-inline-block mx-4 filter-button"
                         onclick="switchWorkFilter('highlight')">
                        <h5 class="m-0 p-0 bg-dark text-lowercase">Highlights</h5>
                        <div class="underline-highlight zero-width highlight"></div>
                    </div>
                    <div class="d-inline-block mx-4 filter-button"
                         onclick="switchWorkFilter('current')">
                        <h5 class="m-0 p-0 bg-dark text-lowercase">Current</h5>
                        <div class="underline-highlight zero-width current"></div>
                    </div>
                    <div class="d-inline-block mx-4 filter-button"
                         onclick="switchWorkFilter('school')">
                        <h5 class="m-0 p-0 bg-dark text-lowercase">School</h5>
                        <div class="underline-highlight zero-width school"></div>
                    </div>
                    <div class="d-inline-block mx-4 filter-button"
                         onclick="switchWorkFilter('startup')">
                        <h5 class="m-0 p-0 bg-dark text-lowercase">Startup</h5>
                        <div class="underline-highlight zero-width startup"></div>
                    </div>
                </div>
            </div>
            <hr class="m-0">
        </div>
        <div id="work" class="tab bg-dark text-center w-100 d-inline-block">
            <div class="list-container">
                {% for project in projects %}
                <div class="project {{ project.tags | join(' ') }}">
                    <div class="container my-5">
                        <div class="row text-center">
                            <div class="col-md w-100">
                                <div class="d-flex align-items-center justify-content-center h-100">
                                    <div class="text-start w-100">
                                        <h2 class="mb-0 cutout-text">{{ project.title }}</h2>
                                        <div class="fw-900">
                                            <h6 class="fw-900">{{ project.subtitle }}, {{ project.year }}</h6>
                                            <div>
                                                {% for tag in project.tags %}
                                                <h6 class="tag fw-900" onclick="switchWorkFilter('{{ tag }}', this)">
                                                    #{{ tag }}</h6>
                                                {% endfor %}
                                            </div>
                                            <div class="">
                                                <p class="technologies fw-900 grey">{{ project.keywords }}</p>
                                            </div>
                                            {% if project.url != "" %}
                                            <div class="mb-4">
                                                <a target="_blank" href="{{ project.url }}">
                                                    <svg class="icon svg-blue" viewBox="0 0 24 24">
                                                        <use xlink:href="#link-svg"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md w-100">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="text-end w-100">
                                        <div class="">
                                            <div class="d-flex align-items-start justify-content-start text-start fw-600 ">
                                                <ul>
                                                    {% for point in project.bulletpoints %}
                                                    <li class="my-1" style="font-size: 0.9em">{{ point }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container my-5">
                        <div class="">
                            <div class="">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="sentinel"></div>
        </div>
    </div>
</div>
<div class="bottom-gradient-line"></div>
<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="display: none" aria-hidden="true">
    <symbol id="link-svg" viewBox="0 0 24 24">
        <path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"/>
    </symbol>
</svg>
</body>
</html>